#root {
  max-width: 1280px;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: wagagai;
  src: url(./assets/MontserratExtrabold-VGO60.ttf);
}

.navitem {
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.navitem:hover {
  background-color: darkgreen;
  color: #fff;
}

.option-style {
  height: "5rem";
  background-color: transparent;
  border: none;
}

.select-style {
  height: 2rem;
  background-color: transparent;
  border: none;
}

.select-style:focus {
  outline: none;
}

.font-item {
  font-family: wagagai;
  font-size: 7rem;
  color: #fff;
  font-weight: bolder;
}

.p-sidebar-header {
  display: none;
}

.text:focus {
  outline: none;
}

.phrase-text {
  text-align: start;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
}

.phrase-text-2 {
  text-align: start;
  padding: 0 20px;
  font-size: 13px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.m-0 {
  height: 40vh;
  display: flex;
}
