#root {
  max-width: 1280px;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.navitem{
  transition: all ease-in-out .3s;
  cursor: pointer;
}
.navitem:hover{
  background-color: darkgreen;
}